@import '../../Common/index';

.container {
  display: inline-block;
}

.cellContainer {
  height: 1.6rem;
}

.poll {
  @include boom;
  display: inline-block;
  background-position: -13.4rem -3.9rem;
  width: 1rem;
  height: 100%;
}

.row {
  display: inline-block;
  height: 100%;
}

.cell {
  @include cell;
  background-position: 0 -3.9rem;

  &:active {
    background-position: 0 -2.3rem;
  }
}

.zero {
  @include cell;
  background-position: -14.4rem -2.3rem;
}

.one {
  @include cell;
  background-position: -1.6rem -2.3rem;
}

.two {
  @include cell;
  background-position: -3.2rem -2.3rem;
}

.three {
  @include cell;
  background-position: -4.8rem -2.3rem;
}

.four {
  @include cell;
  background-position: -6.4rem -2.3rem;
}

.five {
  @include cell;
  background-position: -8rem -2.3rem;
}

.six {
  @include cell;
  background-position: -9.6rem -2.3rem;
}

.seven {
  @include cell;
  background-position: -11.2rem -2.3rem;
}

.eight {
  @include cell;
  background-position: -12.8rem -2.3rem;
}

.boom {
  @include cell;
  background-position: -6.4rem -3.9rem;
}
